<!DOCTYPE html>
<html>

    <head>
        <title>About MST App</title>
        <link rel="icon" href="/images/icon.jpg">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body> 

        <div class="main-content">
            {{>header}}
        
            <img class="portrait" src="./images/Satish4.jpg">
        </div>   
    
        
        {{>footer}}
    </body>

</html>